<app-subscribe></app-subscribe>
<div class="footer p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="heading">GeeksBlogs</div>
                <div class="subheading">Learn through blogs</div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="heading2">Contact Us</div>
                <div class="subheading">geeksblogs.codes@gmail.com</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="heading2">Quick Links</div>
                <div class="subheading">
                    <ul>
                        <li> <a href="/"> Home</a></li>
                        <li> <a href="/about"> About</a></li>
                        <li> <a href="/course"> Course</a></li>
                        <li> <a href="/contact"> Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>