<div class="our-courses">
    <div class="container mt-5">
        <div class="content">
            <div class="heading text-center">Welcome to GeeksBlogs</div>
            <div class="subheading text-center">Start your journey by learning through our blogs
            </div>

            <div class="container-fluid mt-5 pt-5 pb-5">
                <div class="row">
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="../../../../assets/images/about/mission.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Our Mission</div>
                                <div class="subheading">We want to teach vast courses of any domain for free. Now a days, If you know only python you are among 8.2 million python developers in the world but if you know machine learning(complete machine learning including stats
                                    and probability, data visualisation etc) you are among the 10k ML developers in the world. We hope you are intelligent enough to get the difference between two, at geeks blogs our prime focus would not be just telling
                                    you about language it would be telling you about a complete field. Whole course would be a series of blogs and yes of course free of cost to read.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="../../../../assets/images/about/vision.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Our Vision</div>
                                <div class="subheading">Here at GeeksBlogs our vision is to share knowledge with great minds like you and nurture the developer in you. For you to stand in the current competitiveness we bring courses for you to keep up with technology trends.
                                    We know how valuable our readers are to us, so we make sure our content is comprehensible and can be easily followed along even if you are never coded before. All our resources are FREE! In return, we only want your
                                    dedication and commitment to learning.</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
