<div class="our-courses pt-5 pb-5">
    <div class="container pt-5 pb-5">
        <div class="content col-12 col-md-6 mx-auto">
            <div class="heading text-center">Why Choose Us</div>
            <div class="subheading text-center">This course is not like usual video courses this would contain courses
                with series of blogs, when watching videos we usually watch one-don't like it-watch next, this cycle
                continue and we waste a whole lot of time and get
                very less productive learning. We would provide you blogs and trust us you would consume a whole lot of
                time(as there is no intro like - like, subscribe, share)
                <br>
                If you feel you will get bored while reading blogs so don't worry these are blogs developed by the
                students for the students, we will make sure to put puns in between so that you will enjoy reading the
                blogs.
            </div>
        </div>
    </div>
</div>