<div class="subscribe">
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <span class="title">Subscribe To Our Blogs</span>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
                <form action="" method="post">
                    <input class="email-inp" type="text" placeholder="Your Email" name="email">
                    <button class="sub-btn" type="sumbit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
</div>