<div class="our-courses">
    <div class="container">
        <div class="content">
            <div class="heading">Contact</div>
            <div class="subheading">Messages sent with this contact form go directly into our inbox. It is
                the best way to contact us.
            </div>

            <form action="#" class="comment_form">
                <div>
                    <div class="form_title">Name</div>
                    <input type="text" class="comment_input" required="required">
                </div>
                <div>
                    <div class="form_title">Email</div>
                    <input type="text" class="comment_input" required="required">
                </div>
                <div>
                    <div class="form_title">Message</div>
                    <textarea class="comment_input comment_textarea" required="required"></textarea>
                </div>
                <div>
                    <button class="course-btn mt-5 mb-5">Submit Now</button>
                </div>
            </form>



        </div>
    </div>
    <!-- <app-subscribe></app-subscribe> -->
</div>

<app-footer></app-footer>