<div class="our-courses">
    <div class="container mt-5">
        <div class="content">
            <div class="heading text-center">Our Team</div>
            <div class="subheading text-center">Start your journey by learning through our blogs
            </div>

            <div class="container-fluid mt-5 pt-5 pb-5">
                <div class="row">
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="../../../../assets/images/about/team_me.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Harshita Ramchandani</div>
                                <div class="subheading"><a href="https://www.harshitaramchandani.tech/">portfolio</a>

                                </div>
                                <div class="text-center"><a href="https://www.instagram.com/imperfectico/"><i class="fa fa-instagram text-center icons"></i> </a>
                                    <a href="https://github.com/HarshitaRamchandani"><i class="fa fa-github text-center icons"></i></a>
                                    <a href="https://www.linkedin.com/in/harshita-ramchandani-1b3a8815a/"><i class="fa fa-linkedin text-center"></i></a></div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="../../../../assets/images/about/team_lovesh.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Lovesh Dongre</div>
                                <div class="subheading">portfolio</div>



                                <div class="text-center"><a href="https://www.instagram.com/letz_b_friendz/"><i class="fa fa-instagram text-center icons"></i> </a>
                                    <a href="https://github.com/loveshdongre"><i class="fa fa-github text-center icons"></i></a>
                                    <a href="https://www.linkedin.com/in/loveshdongre/"><i class="fa fa-linkedin text-center"></i></a></div>






                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
