<div class="our-courses">
    <div class="container">
        <div class="content">
            <div class="heading text-center">Our Courses</div>
            <div class="subheading2 text-center">We work on latest technology trends and wish to deliver the best.
            </div>

            <div class="container-fluid mt-5 pt-5">
                <div class="row">
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="../../../../assets/images/home/course_1.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Machine Learning</div>
                                <div class="subheading">Machine learning is the study of computer algorithms that improve automatically through experience. It is seen as a subset of artificial intelligence
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="../../../../assets/images/home/course_2.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Game Development</div>
                                <div class="subheading">Unity is a cross-platform game engine developed by Unity Technologies, first announced and released in June 2005 at Apple Inc.'s Worldwide Developers Conference as a Mac OS X-exclusive game engine</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="course-btn mt-5 mb-5">VIEW ALL COURSES</button>
            </div>
        </div>
    </div>
    <!-- <app-subscribe></app-subscribe> -->
</div>
