<div class="features">
    <div class="container">
        <div class="content">
            <div class="heading">Welcome To GeeksBlogs</div>
            <div class="subheading">Learning is not the product of teaching, Learning is the product of active learners.
                <br>
                <i>~ John Holt</i>
            </div>

            <div class="container-fluid mt-5 pt-5">
                <div class="row">
                    <div class="col-12 col-md-3 mt-2 mb-2">
                        <i class="fa fa-cogs fa-3x" style="color: #15AABF; "></i>
                        <div class="heading2">Technical Skills</div>
                        <div class="subheading">Enhance your skills</div>
                    </div>
                    <div class="col-12 col-md-3 mt-2 mb-2">
                        <i class="fa fa-book fa-3x" style="color: #15AABF; "></i>
                        <div class="heading2">Blog Series</div>
                        <div class="subheading">We compiled everything for you at one place</div>
                    </div>
                    <div class="col-12 col-md-3 mt-2 mb-2">
                        <i class="fa fa-code fa-3x" style="color: #15AABF; "></i>
                        <div class="heading2">Code Blocks</div>
                        <div class="subheading">Get Code for every funtionality</div>
                    </div>
                    <div class="col-12 col-md-3 mt-2 mb-2">
                        <i class="fa fa-star fa-3x" style="color: #15AABF; "></i>
                        <div class="heading2">Rank Up</div>
                        <div class="subheading">Progress through blogs and build project of your own</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
