<div class="our-courses">
    <div class="container-fluid">
        <div class="content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card" [routerLink]="['/machine-learning']" routerLinkActive="router-link-active">
                            <img class="img-fluid" src="../../../../assets/images/home/course_1.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Machine Learning</div>
                                <div class="subheading">Machine learning is the study of computer algorithms that improve automatically through experience. It is seen as a subset of artificial intelligence
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mb-2">
                        <div class="card">
                            <img class="img-fluid" src="../../../../assets/images/home/course_2.jpg" alt="">
                            <div class="p-3">
                                <div class="heading2">Game Development</div>
                                <div class="subheading">Unity is a cross-platform game engine developed by Unity Technologies, first announced and released in June 2005 at Apple Inc.'s Worldwide Developers Conference as a Mac OS X-exclusive game engine</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
